*,
*:before,
*:after{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}


/* intro */

.video__intro{
    max-height: 100vh;
    overflow: hidden;
}

.video{
    position: relative;
    padding-bottom: 56.25%;
}

.video__media{
    width: 100%;
    height: auto;

    position: absolute;
    top: 0;
    left: 0;

    z-index: 1;
}

.intro__content{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    white-space: normal;
}

.intro__inner{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;

    text-align: center;
}

.intro__title{
    color: #fff;
    font-size: 150px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;

    border: 2px solid #fff;

    margin-bottom: 70px;
}

.intro__subtitle{
    margin-bottom: 14px;

    font-size: 72px;
    color: #fff;
    font-family: 'Kaushan Script', cursive;
    font-weight: 400;
}


/* container */
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* header */


.header{
    background-color:rgba(0, 0, 0, 0.5);

    padding: 10px 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo{
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

nav{
    all: unset;
}

/* navigation */
.header__nav{
    font-size: 17px;
    text-transform: uppercase;
}

.nav__link{
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin: 0 15px;
    position: relative;

    transition: color .1s linear;
}

.nav__link:after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color: #fce38a;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;
}

.nav__link:hover > a{
    color: #fce38a;
}

.nav__link:hover:after,
.nav__link.active:after{
    opacity: 1;
}

.nav__link.active > a{
    color: #fce38a;
}

.nav__link a{
    text-decoration: none;
}

.nav__sublink{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.nav__drop__menu {
    background-color:rgba(0, 0, 0, 0.5);
    text-align: center;

    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    padding: 0;
}

.nav__drop__menu li {
    color: #fff;
}

.nav__drop__menu li:hover > a {
    color: #fce38a;
}

.nav__drop__menu li:last-child {
    border-radius: 0px 0px 5px 5px;
}

.nav__drop__menu li {
    display: none;
}

.nav__link:hover > .nav__drop__menu li {
    display: block;
}

.nav__link:hover > .nav__drop__menu {
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

.nav__link:hover > .nav__drop__menu li {
    opacity: 0;
    -webkit-animation-name: menu1;
    animation-name: menu1;
    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes menu1 {
    from {
        opacity: 0;
        -webkit-transform: rotateY(-90deg) translateY(30px);
        transform: rotateY(-90deg) translateY(30px);
    }

    to {
        opacity: 1;
        -webkit-transform: rotateY(0deg) translateY(0px);
        transform: rotateY(0deg) translateY(0px);
    }
}

@keyframes menu1 {
    from {
        opacity: 0;
        -webkit-transform: rotateY(-90deg) translateY(30px);
        transform: rotateY(-90deg) translateY(30px);
    }

    to {
        opacity: 1;
        -webkit-transform: rotateY(0deg) translateY(0px);
        transform: rotateY(0deg) translateY(0px);
    }
}

.nav__menu__content{
    color: #fff;
    text-decoration: none;
}

/* button */
.btn{
    display: inline-block;
    vertical-align: top;
    padding: 8px 30px;

    border: 2px solid #fff;

    font-size: 14px;
    font-weight: 700;
    color:#fff;
    text-transform: uppercase;
    text-decoration: none;

    transition: background .1s linear,
    color .1s linear;
}

.btn:hover{
    background-color: #fff;
    color: #333;
}

.btn-black{
    padding: 8px 30px;

    border: 2px solid #333;

    text-transform: uppercase;
}

.btn-active{
    background-color: #fff;
    color:#333;

    transition: background .1s linear,
    color .1s linear;

    cursor: pointer;
}

.btn-active:hover{
    background-color: #333;
    color: #fff;
}

.btn-disabled{
    background-color: #d9d7d8;
    color:#333;
    border: 2px solid #d9d7d8;

    opacity: .5;
}


/* btn for appointment */

.app-btn{
    width: 50%;
    margin-top: 15px;
}

/* section */

.section{
    padding: 80px 0;
}

.section__header{
    width: 100%;
    max-width: 950px;
    margin: 0 auto 40px;

    text-align: center;
}

.section__subtitle{
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: #333;
}

.section__title{
    font-size: 30px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
}

.section__title:after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 30px auto;

    background-color: #f38181;
}

.section__text{
    font-size: 15px;
    color: #999;
}

/* about */

.about{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.about__item{
    position: relative;
    width: 320px;
    margin-top: 20px;
}

.about__item:hover .about__text{
    opacity: 1;
}

.about__item:hover .about__img img{
    opacity: .1;
}

.about__img{
    background: linear-gradient(to bottom, #141E30, #28416F);
}

.about__img img{
    display: block;
    transition: opacity .1s linear;
}

.about__text{
    width: 100%;

    position: absolute;
    text-align: center;
    opacity: 0;

    display: flex;
    flex-direction: column;

    align-items: center;

    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0,-50%,0);

    transition: opacity .2s linear;
}

.about__text a{
    text-decoration: none;
    color: #fff;
}

.about__text i{
    font-size: 50px;
}

.about__text h4{
    font-size: 20px;
    color: 	#ffbb8d;
    text-transform: uppercase;
}

/* services-top */

.top{
    background: url("/static/images/services.jpg") center;
    background-size: cover;
    height: 100px;
}

/* login and register forms */

.form__intro{
    background-image: url("/static/images/1.jpg");
    background-repeat: no-repeat;;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
}

.form__wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 28%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 30px;
    box-shadow: 0px 2px 8px 2px #555;
    border-radius: 6px;
    box-sizing: border-box;
}

.form__container{
    padding: 16px;
}

.form__container label{
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
}

.form__input, .form__button{
    width: 100%;
    padding: 8px 12px;
    margin: 8px 0px;
    display: inline-block;
    box-sizing: border-box;
    color: white;
    background-color: transparent;
    border: 1px solid white;
}

.form__input:focus{
    outline: none;
}

.form__button{
    padding: 12px 20px;
    cursor: pointer;
    font-family: Abel;
    font-size: 14px;
    letter-spacing: 1px;
}

.form__button:hover{
    background: rgba(0, 0, 0, 0.5);
}


/* create app */

.create__app__content{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}

.create__app__content h5{
    margin-top: 30px;
}

.create__app__time{
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.input-field{
    margin-top: 20px;
}

.time__row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;
}

.time__row h4{
    display: inline-block;
}

/* users app page */

.my-card{
    width: 100%;
    max-width: 300px;
    margin: 25px 50px 0 25px;
}

.user__app__content{
    margin-top: 50px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

/* fullcalendar */

#calendar{
    margin: 40px auto;
}

.fc-slats table{
    height: 500px; !important;
}

/* modal */

.modal { width: 40% !important ;}