<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Error</title>
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:200,400,700&display=swap&subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles/styles.css">
    <link type="text/css" rel="stylesheet" href="/static/styles/error.css" />
</head>
<body>
<div th:replace="partials/header :: header">...</div>

<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>Oops!</h1>
            <h2>500</h2>
        </div>
        <a href="/">Go TO Homepage</a>
    </div>
</div>
</body>
</html>